@{
    ViewBag.Title = "A donde contactarnos?";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Alto Murillo<br />
    Entrada al Cerro Espiritu Santo<br />
    <abbr title="Phone">Tel:</abbr>
    83655072
</address>

<address>
    <strong>Consultas:</strong>   <a href="mailto:denrod11122017@gmail.com">denrod11122017@gmail.com</a><br />
    <strong>Sugerencias:</strong> <a href="mailto:arodriguezm94@hotmail.com">arodriguezm94@hotmail.com</a>
</address>