@{
    ViewBag.Title = "INICIO";
}

<div class="jumbotron">
    @*<h1>Hospital-ABC</h1>*@
    <p class="lead">Hospital ABC es el hospital privado más grande y completo de Costa Rica. La misión del hospital se centra en la visión de la salud de cada uno de sus clientes.</p>
    <p> De acuerdo a sus mejores intereses en mente, el Hospital ABC está en constante crecimiento en las áreas de mejora de la calidad de los servicios y la infraestructura..</p>
    @*<p><a href="https://www.youtube.com/watch?v=-72P_EFphSc" class="btn btn-primary btn-lg">Click + informacion &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contacto</h2>
        <address>
            Alto Murillo<br />
            Entrada al Cerro Espiritu Santo<br />
            <abbr title="Phone">Tel:</abbr>
            83655072
        </address>

        <address>
            <strong>Consultas:</strong>   <a href="mailto:denrod11122017@gmail.com">denrod11122017@gmail.com</a><br />
            <strong>Sugerencias:</strong> <a href="mailto:arodriguezm94@hotmail.com">arodriguezm94@hotmail.com</a>
        </address>

        <p><a class="btn btn-default" href="https://api.whatsapp.com/send?phone=50683655072">Whatsapp &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sedes</h2> 
        <p> -Sede Central-Naranjo</p>
        <p> -Sede Palmares</p>
        <p> -Sede Grecia</p>
        <p> -Sede San Carlos </p>
        <p><a class="btn btn-default" href="https://www.google.com/maps/place/Cerro+del+Esp%C3%ADritu+Santo/10.0850606,-84.4152976,15z/data=!3m1!4b1!4m5!3m4!1s0x8fa05b04b445bd37:0xa2fafb3ae4445137!8m2!3d10.0850398!4d-84.4065428">Ubicacion Maps &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Promociones</h2>
        <p> -Cremas para el cuidado de la piel</p>
        <p> -Gastroscopia y Coloscopia</p>
        <p> -Paneles de alergia</p>
        <p> -Maternidad </p>
        <p><a class="btn btn-default" href="https://www.clinicabiblica.com/es/promociones">Click + Promociones &raquo;</a></p>
    </div>
</div>